[Unit]
Description=Resize cowspace for live environment
After=systemd-remount-fs.service
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/manage-cowspace -s 4
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
